header{
	background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
	width:100%;
	height:30px;
	line-height:30px;
	font-size:12px;
}
.header1{
	width:1200px;
	margin:0 auto;
}
#header-left li{
	float:left;
}
#header-left .one{
	margin-right: 30px;
}
#header-left .three,#header-left .four{
	color:green;
	
}
#header-left .three:hover{
	color:red;
}
#header-left .four:hover{
	color:red;
}
#header-left .two{
	margin-right: 20px;
}
#header-right{
	float:right;
}
#header-right li{
	float: left;
	margin:0 10px;
}
#header-right li a:hover{
	color:red;
}
#erji{
	width:100px;
	height:60px;
	display: none;
	position: absolute;
	left:700px;
	background: white;
}
#erji li{
	width:100px;
	height:30px;
	line-height:30px;
	
}
#erji li a:hover{
	text-decoration: none;
}	
#mobile img{
	width:130px;
	height:130px;
	display: none;
	position:absolute;
	z-index: 999;
}
#phone #number{
	width:100px;
	height:35px;
	position:absolute;
	display: none;
	margin-left:-20px;
}

.search1{
	padding:30px 0;
	
}
.clear{
	clear:both;
}
.logo{
	width:1200px;
	margin:0 auto;
}
.search1 img{
	width: 290px;
	height: 50px;
	float:left;
}
form{
	width:540px;
	height:36px;
	float:right;
	padding-top:7px;
}
#search-text{
	width:461px;
	height:36px;
	border:2px solid #ec3639;
	font-size:15px;
}
#search-btn{
	width:75px;
	height:36px;
	background:#ec3639;
	cursor: pointer;
	font-size:16px;
	color:white;
	margin-left:-4px;
}
.quick-entry{
	float:right;
	margin-left:60px;
	padding-top:14px;
	
}
.quick-entry a{
	margin-left:24px;
	font-size:15px;
}
.quick-entry a:hover{
	color:red;
	text-decoration: none;
}
.tuangou li{
	float:left;
	margin-right: 20px;
    line-height: 20px;
}

nav{
	position:relative;
	z-index:101;
	background: white;
}
.wrapper{
	width:1200px;
	height:40px;
	position: relative;
	margin:0 auto;
	border-bottom: 2px solid #ec3639;
}
.wrapper .heng{
	float:left;
}
.wrapper .heng li{
	float:left;
	padding: 0 30px 0 0;
	font-size:18px;
	line-height: 40px;
}
.wrapper .heng li a{
	padding:0 10px;
}
.wrapper .heng li a:hover{
	color:red;
	text-decoration: none;
}
#fenlei{
	width:160px;
	height:40px;
	line-height:40px;
	background: red;
	float:left;
	cursor: pointer;
	font-size:16px;
	color:white;
	margin-right:39px;
}
#menu{
	position: absolute;
	left:0;
	top:40px;
	width:160px;
	height: 400px;
	overflow: hidden;
	background-color: #454545;
	z-index: 3;
	display:none;
}
#menu li{
	height:54px;
	line-height: 54px;
	border-top:1px solid #4d4d4d;
	
}
#menu li a{
	font-size:16px;
	color:white;
}
#menu span{
	margin-right:10px;
}
#menu li:hover{
	background: white;
}	
#menu li:hover a{
	color:#333333;
	text-decoration: none;
}
.heng li:nth-child(2) a{
	color:red;
}

.nav-ul{
	width:1200px;
	margin:10px auto 0;
	height:20px;
	line-height: 10px;
	
}
.nav-ul div{
	float:left;
	width:25px;
	color:black;
}

section{
	width:1200px;
	height:830px;
	margin:0 auto;
	padding:0 20px;
	border:1px solid #ededed;
}
section .left{
	width:390px;
	float:left;
}
.center{
	width:530px;
	float:left;
}
.right{
	width:197px;
	float:right;
}

/*放大镜开始*/
.small_pic img{
	width:390px;
	height:410px;
}
.left ul{
	margin-top:20px;
	height:70px;
}
.left ul li img{
	width:66px;
	height:66px;
}
.left ul li{
	margin-right: 17px;
	float:left;
	cursor: pointer;
	border:2px solid white;
}
#div1{
	width:390px;
	height:410px;
	position:relative;
}
.small_pic{
	width:390px;
	height:410px;
	position:relative;
	background: #EEEEEE;
}
.float_layer{
	width:200px;
	height:200px;
	background: #fff;
	position:absolute;
	left:0;
	top:0;
	opacity:.5;
	filter: alpha(opacity:50);
	display: none;
}
.mark {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 0px;
	background: red;
	filter: alpha(opacity: 0);
	opacity: 0;
}
.big_pic{
	width:420px;
	height:410px;
	position:absolute;
	left:390px;
	top:0;
	overflow: hidden;
	display: none;
}
.big_pic img{
	position:absolute;
	left:-18px;
}
.left p{
	height:70px;
}
.left p span{
	margin-right:35px;
	float:left;
	cursor: pointer;
	height:70px;
	line-height:70px;
}
.left p span:hover{
	color:red;
}
.jinggao{
	background: red;
	color:white;
	width:240px;
	height:30px;
	line-height: 30px;
}
.center{
	padding-left:33px;
	text-align: left;
}
.center div:nth-child(1){
	font-size:15px;
	height:40px;
	line-height: 55px;
	color:#333333;
}
.center div:nth-child(2){
	font-size:13px;
	height:32px;
	line-height: 20px;
	color:#999999;
}
.jishi{
	width:530px;
	height:50px;
	line-height: 48px;
	font-size: 13px;
	color:white;
	background: red;
}
.jishi li:nth-child(1){
	float:left;
}
.jishi li:nth-child(2){
	float:right;
	font-size: 15px;
}
#div123 span{
	height:22px;
	width:22px;
	background: white;
	color:red;
	padding:3px;
	margin:0 7px;
	border-radius: 5px;
}
.price{
	padding:0 10px;
	height:40px;
	line-height:40px;
}
.price li{
	float:left;
}
.price li:nth-child(1){
	font-size:12px;
	width:75px;
	color:#666666;
}
.price li:nth-child(2){
	font-size:15px;
	width:22px;
	color:red;
}
.price li:nth-child(3){
	font-size:28px;
	font-weight: bolder;
	width:130px;
	color:red;
}
.price li:nth-child(4){
	font-size:13px;
	width:72px;
	color:#999999;
}
.price li:nth-child(5){
	display: inline-block;
	font-size:13px;
	width:60px;
	height:18px;
	line-height:18px;
	background: red;
	color:white;
	margin-top:10px;
	text-align: center;
}
.place{
	padding:0 10px;
	height:40px;
	line-height:40px;
}
.place li{
	float: left;
}
.place li:nth-child(1){
	font-size:12px;
	width:75px;
	color:#666666;
}
.place li:nth-child(3){
	font-size:12px;
	width:130px;
	color:#333333;
	text-align: center;
	font-weight: bold;
}
.back1{
	width:50px;
	height:23px;
	cursor: pointer;
}
.back{
	display: inline-block;
	width:13px;
	height:7px;
	background: url(../img/good/arrow.png) no-repeat 0px 0px;
}
.back1:hover .back{
	background: url(../img/good/arrow.png) no-repeat 0px -13px;
}
.fuwu{
	margin-left:10px;
	height:30px;
	line-height: 30px;
}
.fuwu li:nth-child(1){
	width:70px;
	color:#666666;
}
.fuwu li:nth-child(2){
	color:#333333;
}
.fuwu li{
	float:left;
}
.baozhang{
	height:51px;
	margin-left:79px;
}
.buy{
	border-top:1px solid #f2f2f2;
	padding-left:10px;
}
.buy ul li{
	float:left;
}
.btn1{
	margin-left:130px;
	font-size:13px;
	color:#999999;
	cursor: pointer;
	position:relative;
	width:40px;
}
.btn1 .shouqi{
	position:absolute;
	left:0;
	top:0;
	display: none;
}
.red{
	color:red;
}
.red1{
	margin-top:-5px;
	width:250px;
	height:28px;
	line-height: 28px;
	border:1px solid red;
	padding-left:10px;
}
.red1 img{
	margin-top:-3px;
}
.buy1{
	height:60px;
}
.banben{
	height:26px;
	margin-bottom:20px;
}
.banben li:nth-child(1){
	width:60px;
}
.color{
	height:30px;
	
}
.gb4{
	border:2px solid #e6e6e6;
	margin:0 3px;
	padding:6px 10px;
	margin-top:-8px;
	color:#333333;
	font-weight: bold;
}
.gb4:hover{
	border:2px solid red;
}
.neicun{
	height:30px;
}
.buystyle{
	height:30px;
}
.taozhuang{
	height:30px;
}
.cart{
	height:30px;
	line-height: 30px;
}
.jia{
	width:28px;
	height:28px;
	line-height:28px;
	text-align: center;
	font-size:18px;
	border:1px solid #e6e6e6;
	color:#cccccc;
	cursor: pointer;
}
#num{
	width:44px;
	height:28px;
	line-height:28px;
	text-align: center;
	font-size:13px;
	border:1px solid #e6e6e6;
}
.phone{
	width:410px;
	height:56px;
	line-height: 56px;
	border:1px solid #e6e6e6;
	padding-left:10px;
	margin-left:60px; 
	margin-bottom:20px;
}
.phone p{
	height:15px;
	line-height: 30px;
}
.addcart{
	margin:40px 0 0 60px;
	height:50px;
}
.addcart li:nth-child(1){
	background: red;
	width:140px;
	height:50px;
	line-height: 50px;
	margin-right:10px;
	text-align: center;
	border-radius: 5px;
}
.addcart li:nth-child(1) a{
	color:white;
	font-size: 16px;
	text-decoration: none;
}
.addcart li:nth-child(2){
	background: #ffeded;
	width:140px;
	height:50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
}
.addcart li:nth-child(2) a{
	color:red;
	font-size: 16px;
	text-decoration: none;
}
.abs{
	background: white;
	width:330px;
	height:185px;
	position: absolute;
	top:580px;
	left:528px;
	z-index:1001;
	display: none;
	padding-left:64px;
}
.abs li{
	margin-top:8px;
	list-style: none;
	text-align: left;
	border:1px solid #e6e6e6;
}
.abs li:hover{
	border:1px solid red;
}

.title1{
	width:197px;
	height:30px;
	line-height: 30px;
	border:1px solid #ededed;
	font-size:13px;
}
.title1 a{
	margin-left:60px;
}
.right img{
	width:135px;
	height:150px;
}
.right ul{
	padding:8px 14px;
}
.right a{
	font-size: 12px;
	color:#333333;
}
.right a:hover{
	color:red;
}
.right ul li:nth-child(2){
	margin:10px 0;
}
.right span{
	font-size: 16px;
	color:red;
}
.right s{
	font-size: 14px;
	color:#999999;
	margin-left:20px;
}
article{
	width:1200px;
	height:270px;
	margin:0 auto;
	padding:25px;
	border:1px solid #ededed;
}
.tuijian{
	width:1200px;
	margin:0 auto;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
	border:1px solid #ededed;
}
article ul{
	float:left;
	margin-right:18px;
	text-align: left;
}
.jiahao{
	margin-top:68px;
}
article a{
	display: inline-block;
	width:155px;
	margin:10px 0;
}
article a:hover{
	color:red;
}
article span{
	color:red;
	font-size:16px;
	font-weight: bold;
}
article input{
	width:12px;
	height:12px;
	border:1px solid #707070;
}
.button1{
	padding-top:37px;
}
.button1 i{
	color:red;
	font-size: 14px;
	margin:0 5px;
}
.button1 li{
	height:20px;
	line-height: 20px;
}
.button1 button{
	background: red;
	color:white;
	width:74px;
	height:28px;
	margin-top:13px;
}
main{
	width:1200px;
	margin:20px auto 0;
	height:3380px;
	overflow: hidden;
}
.main-left{
	width:197px;
	float:left;
	border:1px solid #ededed;
	margin-right:10px;
}
.main-right{
	float: left;
	padding-top:20px;
}
.main-left img{
	width:135px;
	height:150px;
}
.main-left ul{
	padding:8px 14px;
}
.main-left a{
	font-size: 12px;
	color:#333333;
}
.main-left a:hover{
	color:red;
}
.main-left ul li:nth-child(2){
	margin:10px 0;
}
.main-left span{
	font-size: 16px;
	color:red;
}
.main-left s{
	font-size: 14px;
	color:#999999;
	margin-left:20px;
}
.main-right ul li{
	float:left;
	border:1px solid #ededed;
	padding:7px 15px;
	font-size:14px;
	color:black;
	cursor: pointer;
}
.main-right ul li:hover{
	color:red;
}
.ma{
	width:100px;
	height:36px;
	background: url(../img/good/555.jpg) no-repeat;
	position: relative;
}
.maimg{
	display: none;
	position: absolute;
	left:0;
	top:35px;
}
.ma:hover .maimg{
	display: block;
}
.ma:hover{
	background: url(../img/good/556.jpg) no-repeat;
}

footer{
	width:1200px;
	height:240px;
	margin:0 auto;
	border-top:1px solid #d9d9d9;
	padding-top:28px;
}
footer ul{
	float:left;
	text-align: left;
	width:175px;
}
#i92{
	margin-bottom: 10px;
	height:92px;
}
#i92 img{
	width:92px;
	height:92px;
}
footer ul li:nth-child(1){
	font-size: 14px;
	color:#333333;
	font-weight: bold;
}
footer ul li{
	height:30px;
}
.main1{
	width:100%;
	background: #2d2d2d;
	
}
.main2{
	width:1200px;
	height:230px;
	margin:0 auto;
	
}
.main2 ul{
	color:#999999;
	height:45px;
	line-height: 45px;
	padding-top:45px;
}
.main2 ul li{
	float:left;
	height:45px;
	line-height: 45px;
}
.main2 ul:nth-child(1) a{
	color:white;
}
.main2 ul:nth-child(2) a{
	color:#999999;
}
.main2 ul .pad{
	padding:0 14px;
}
.canshu{
	display: none;
}
#xiding[data-fixed="fixed"]{
	position: fixed;
	top:0;
	left: 0;
	margin: 0;
}
#xiding{
	background: white;
}
.gotop{
	cursor: pointer;
	font-size: 22px;
	opacity: .6;
	position: fixed;
	right:50px;
	bottom: 50px;
	width:50px;
	height:50px;
	line-height: 50px;
	text-align: center;
	background: red;
	color:white;
	display: none;
}
.gotop:hover{
	opacity: 1;
}
#ask{
	position: fixed;
	right:10px;
	top:200px;
	z-index:1000;
	cursor: pointer;
}
#ask li{
	width:68px;
	height:65px;
	border:1px solid #ededed;
}
#ask li:hover{
	background: red;
}
